<!-- C21361681 – Michael Traynor
     AndroidManifest.xml – Declares activities and launcher
     Sprint 2 update: added EditArtistProfileActivity and EditVenueProfileActivity -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.giggy">

    <application
        android:allowBackup="true"
        android:label="Giggy"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Giggy.Dark">

        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SignupActivity" />
        <activity android:name=".ui.RoleSelectActivity" />
        <activity android:name=".ui.LoginActivity" />

        <!-- Sprint 2: Profile setup/edit screens -->
        <activity android:name=".ui.ViewArtistProfileActivity" />
        <activity android:name=".ui.ViewVenueProfileActivity" />
        <activity
            android:name=".ui.EditArtistProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.EditVenueProfileActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.PostGigActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.BrowseGigsActivity"/>
        <activity android:name=".ui.GigDetailActivity"/>
        <activity android:name=".ui.SearchArtistsActivity"/>

        <activity android:name=".ui.MyBookingsActivity"/>
        <activity android:name=".ui.VenueBookingsActivity"/>
        <activity android:name=".ui.BookingDetailActivity"/>
        <activity android:name=".ui.SearchVenuesActivity"/>
        <activity android:name=".ui.ConversationActivity" />
        <activity android:name=".ui.InboxActivity" />

    </application>
</manifest>